h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

main {
  flex: 1;
}

.upsell {
  font-size: 12px;
  font-weight: 600;
  color: #2f2f2f;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.upsell-total {
  font-size: 31px;
  font-weight: 600;
  color: #bf0a0a;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.section {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.pos-titulo-video {
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 1;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 300px;
}

.select {
  width: 80%;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 35px;
  font-weight: 900;
  color: #2f2f2f;
  width: 90%;
}

.titulo-desconto {
  font-size: 25px;
  font-weight: 700;
  color: #2f2f2f;
  width: 80%;
}

.desconto-vermelho {
  color: #e43b2c;
}

.desconto-preto {
  color: #2f2f2f;
}

.preco {
  color: #61ce70;
}

.sub-titulo {
  font-size: 20px;
  font-weight: 700;
  color: #2f2f2f;
  width: 80%;
}

.sub-titulo-video {
  font-size: 15px;
  font-weight: 500;
  color: #2f2f2f;
}

.sub-titulo-pequeno {
  font-size: 15px;
  font-weight: 400;
  width: 85%;
  color: #2f2f2f;
  font-family: "Montserrat", Sans-serif;
  /* width: 700px; */
}

.counter-square {
  width: 80px;
  height: 80px;
  background-color: #333;
  border-style: solid;
  border-color: #c0c0c0;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-text {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
}

.progress-container {
  align-items: center;
  justify-content: center;
  margin: 1;
}

.banner-bottom {
  font-size: 1rem;
  background-color: #122433;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.inline-block {
  display: inline-block;
}

/* ====== COMPONENTES ====== */
.pulse {
  -webkit-animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 16px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.demo-preview {
  padding-top: 100px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}

.progress {
  background-color: #f5f5f5;
  border-radius: 3px;
  box-shadow: none;
}
.progress.progress-xs {
  height: 5px;
  margin-top: 5px;
}
.progress.progress-sm {
  height: 10px;
  margin-top: 5px;
}
.progress.progress-lg {
  height: 25px;
}
.progress.vertical {
  position: relative;
  width: 20px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100% !important;
  position: absolute;
  bottom: 0;
}
.progress.vertical.progress-xs {
  width: 5px;
  margin-top: 5px;
}
.progress.vertical.progress-sm {
  width: 10px;
  margin-top: 5px;
}
.progress.vertical.progress-lg {
  width: 30px;
}

.progress-bar {
  background-color: #2196f3;
  box-shadow: none;
}
.progress-bar.text-left {
  text-align: left;
}
.progress-bar.text-left span {
  margin-left: 10px;
}
.progress-bar.text-right {
  text-align: right;
}
.progress-bar.text-right span {
  margin-right: 10px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: -o-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 40px 40px;
}

.progress-bar-secondary {
  background-color: #323a45;
}

.progress-bar-default {
  background-color: #b0bec5;
}

.progress-bar-success {
  background-color: #64dd17;
}

:root {
  --body-bg: #ffffff;
  --cta-bg: #e67e22;
  --cta-color: #ffffff;
  --fb-blue: #4080ff;
  --footer-bg: #122433;
  --dark-green: #075e54;
  --blue: #34b7f1;
  --blue-rgb: rgb(52, 184, 241);
  --white: #fefefe;
  --hero-bg: #122433;
  --banner-bg: #ff0000;
  --banner-color: #ffffff;
  --headline-color: #ffffff;
  --city-highlight: #000000;
  --highlight: #ffffff;
  --banner-fw: bold;
  --link-color: #000;
  --audio-color: #ffffff;
  --sec-1-bg: #122433;
  --sec-1-color: #fefefe;
}

body,
html {
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: Roboto;
  background-color: var(--body-bg);
}

section {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3,
h4 {
  color: var(--text-color);
}

a {
  display: block;
  text-decoration: none;
  color: var(--link-color);
}

p {
  color: var(--p-color);
}

.esconder {
  display: none;
}

.d-block {
  display: block;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}

.middle {
  vertical-align: middle;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-large {
  flex-basis: 100%;
}

@media (min-width: 1000px) {
  .flex-large {
    flex: 1;
    margin-bottom: 0;
  }
}
.d-none {
  display: none;
}

.btn {
  background-color: var(--cta-bg);
  color: var(--cta-color);
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5vw;
  padding: 16px 24px;
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 0 var(--cta-bg);
}

.btn-wrapper {
  transition: transform ease-in 0.25s;
}

.btn-wrapper:hover {
  transform: scale(1.05);
}

.som {
  font-size: 32px;
  margin-right: 12px;
}

.banner {
  font-size: 1.5vw;
  background-color: var(--banner-bg);
  color: var(--banner-color);
  font-weight: var(--banner-fw);
}

.hero {
  background-color: #ffffff;
  min-height: 100% !important;
}

.content .logo,
.hero .logo {
  height: 75px;
  -webkit-filter: drop-shadow(0 0 2em 2em rgba(60, 244, 100, 0.35));
  filter: drop-shadow(0 0 2em rgba(60, 244, 100, 0.35));
}

.ultrasecreto {
  width: 40%;
  margin-right: auto;
  -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 238, 0, 0.4));
  filter: drop-shadow(0 0 1em rgba(255, 238, 0, 0.4));
}

.city-highlight {
  color: var(--city-highlight);
}

.hero h1 {
  font-size: 2.25vw;
  font-weight: 800;
  line-height: 1;
  color: var(--headline-color);
}

.hero h2 {
  font-size: 1.75vw;
  color: var(--subheadline-color);
}

footer a {
  color: var(--footer-color);
}

.drop {
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.1);
}

.drop-s {
  text-shadow: 1px 2px 2px rgba(52, 184, 241, 0.33);
}

.uc {
  text-transform: uppercase;
}

.audio {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  justify-content: center;
  color: var(--audio-color);
}

.audio img {
  margin-right: 6px;
  height: 32px;
  width: 32px;
}

.cta img {
  margin-top: -12px;
}

.content h1 {
  font-size: 42px;
  font-style: italic;
}

.garantia h1,
.garantia h2,
.garantia h3 {
  line-height: 1;
}

.garantia .img {
  height: 200px;
  -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 238, 0, 0.3));
  filter: drop-shadow(0 0 4em rgba(255, 238, 0, 0.3));
}

.amp {
  height: 156px;
  -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 238, 0, 0.5));
  filter: drop-shadow(0 0 4em rgba(255, 238, 0, 0.5));
}

.highlight {
  color: var(--highlight);
}

h4.fakebook {
  font-size: 1.25vw;
}

.sec-1 {
  background-color: var(--sec-1-bg);
  color: var(--sec-1-color);
}

.sec-1 h1 {
  font-size: 3vw;
}

.garantia h1 {
  font-size: 40px;
  font-weight: 600;
}

footer {
  background: var(--footer-bg);
  color: var(--footer-color);
}

.disclaimer {
  font-size: 12px;
  color: #fafafa;
  font-weight: 300;
}

.muted {
  color: #555;
}

.green {
  color: var(--green);
}

.dark-green {
  color: var(--dark-green);
}

.blue {
  color: var(--blue);
}

.white {
  color: var(--white);
}

.orange {
  color: var(--orange);
}

.black {
  color: #000;
}

.yellow {
  color: var(--yellow);
}

.hl {
  position: relative;
}

.hl img {
  position: absolute;
  bottom: -24px;
  right: calc(50% - 120px);
}

.strong {
  font-weight: 700;
  color: #2f2f2f;
}

.ul {
  text-decoration: underline;
}

.vertical-center {
  margin-top: calc(56px - 12.5vw) !important;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fit {
  width: fit-content !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mt-mini {
  margin-top: 0.25rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.ms-1 {
  margin-left: 1rem !important;
}

.me-1 {
  margin-right: 1rem !important;
}

.guarantee {
  height: 250px;
}

.fixed-cta {
  position: fixed;
  bottom: 2.5%;
  z-index: 998;
  background: #3c6;
  width: 56px;
  border-radius: 32px;
  height: 56px;
  right: 5%;
  -webkit-filter: drop-shadow(0 0 1em 1em rgba(255, 255, 255, 0.7));
  filter: drop-shadow(0 0 1em rgba(255, 255, 255, 0.7));
}

.u {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 600px) {
  .sec-1 h1 {
    font-size: 9vw;
    line-height: 1;
  }
  .flex-col {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
  h4.fakebook {
    font-size: 3.5vw;
  }
  .banner {
    font-size: 3.25vw;
  }
  .hero {
    height: fit-content !important;
  }
  .hero h1 {
    font-size: 6vw;
    line-height: 1;
  }
  .hero h2 {
    font-size: 5vw;
    color: var(--subheadline-color);
  }
  .content h1 {
    font-size: 7vw;
    font-style: italic;
  }
  .price h1 {
    font-size: 12vw;
  }
  .price h2 {
    font-size: 15vw;
  }
  .de {
    margin-bottom: -3vh;
  }
  .price h5 {
    font-size: 3vw;
  }
  .hero .ultrasecreto {
    width: 50%;
  }
  .hl img {
    bottom: -12px;
    width: 70%;
    right: calc(50% - 70px);
  }
  .garantia h1 {
    font-size: 5.25vw;
    font-weight: 600;
  }
  .audio {
    font-size: 3.75vw !important;
  }
  .btn {
    font-size: 4.25vw;
    padding: 16px 0;
  }
  .sm-center {
    text-align: center !important;
  }
  .sm-left {
    text-align: left !important;
  }
  .sm-right {
    text-align: right !important;
  }
  .max-w-sm-75 {
    max-width: 75%;
  }
  .max-w-sm-90 {
    max-width: 90%;
  }
  .me-sm-1 {
    margin-right: 1rem !important;
  }
  .me-sm-2 {
    margin-right: 2rem !important;
  }
  .me-sm-auto {
    margin-left: auto !important;
  }
  .mx-sm-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mb-sm-1 {
    margin-bottom: 1rem;
  }
  .mb-sm-2 {
    margin-bottom: 2rem !important;
  }
  .mb-sm-3 {
    margin-bottom: 3rem !important;
  }
  .mt-sm-1 {
    margin-top: 1vh;
  }
  .mt-sm-2 {
    margin-top: 2vh;
  }
  .mt-sm-3 {
    margin-top: 3vh;
  }
  .mt-sm-5 {
    margin-top: 5vh;
  }
  .px-sm-1 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .px-sm-2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .px-sm-3 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  .px-sm-4 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-sm-5 {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .py-sm-1 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }
  .py-sm-2 {
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
  .py-sm-5 {
    padding-bottom: 5vh;
    padding-top: 5vh;
  }
  .loading {
    height: 20px !important;
  }
}
@media (min-width: 600px) {
  .only-sm {
    display: none;
  }
  .lg-center {
    text-align: center !important;
  }
  .max-w-lg-25 {
    max-width: 25%;
  }
  .max-w-lg-33 {
    max-width: 33%;
  }
  .max-w-lg-50 {
    max-width: 50%;
  }
  .max-w-lg-60 {
    max-width: 60%;
  }
  .ms-lg-auto {
    margin-left: auto !important;
  }
  .me-lg-auto {
    margin-right: auto !important;
  }
  .me-lg-1 {
    margin-right: 1rem !important;
  }
  .me-lg-2 {
    margin-right: 2rem !important;
  }
  .ms-lg-1 {
    margin-left: 1rem !important;
  }
  .mx-lg-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mb-lg-1 {
    margin-bottom: 1rem !important;
  }
  .mb-lg-2 {
    margin-bottom: 2rem !important;
  }
  .mt-lg-1 {
    margin-top: 1vh;
  }
  .mt-lg-2 {
    margin-top: 2vh;
  }
  .mt-lg-3 {
    margin-top: 3vh;
  }
  .mt-lg-5 {
    margin-top: 5vh;
  }
  .px-lg-1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-lg-2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .px-lg-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .px-lg-5 {
    padding-left: 5%;
    padding-right: 5%;
  }
  .px-lg-10 {
    padding-left: 10%;
    padding-right: 10%;
  }
  .px-lg-15-10 {
    padding-left: 15%;
    padding-right: 10%;
  }
  .px-lg-15 {
    padding-left: 15%;
    padding-right: 15%;
  }
  .px-lg-20 {
    padding-left: 20%;
    padding-right: 20%;
  }
  .px-lg-20-10 {
    padding-left: 20%;
    padding-right: 10%;
  }
  .py-lg-1 {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .py-lg-2 {
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
  .py-lg-3 {
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
  .py-lg-4 {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .py-lg-5 {
    padding-bottom: 5%;
    padding-top: 5%;
  }
}
table th {
  padding: 2px !important;
}

table tbody tr,
td {
  background-color: #fff !important;
}

.mark-comments {
  color: #365899;
  font-weight: 500px;
}

.mark-comments:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fb-comments {
  border: 1px solid #e9ebee !important;
  border-radius: 18px;
  padding: 12px;
  margin: auto;
  position: relative;
  color: #888;
}

.fb-comments-header {
  padding: 0;
  border-bottom: 1px solid #e9ebee !important;
}

.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
}

.fb-comments-comment {
  border: none !important;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #e9ebee !important;
  padding-left: 5px;
}

td,
tr {
  border: none !important;
  margin: 0;
}

td {
  padding: 2.5px;
}

tr {
  padding: 2.5px 0;
}

.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 3s infinite;
  color: #dc143c;
}

.strikethrough:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  box-shadow: 0 1px rgba(255, 0, 0, 0.6);
  margin-top: -0.6em;
  background: red;
  transform-origin: center left;
  animation: strikethrough 2s 1s infinite;
}

@keyframes strikethrough {
  0% {
    transform: scaleX(0);
  }
  35% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
#vid_62cdc68f2001f0000bdde431 {
  border: 1px solid #4adede;
  box-shadow: 0 0 6px 3px rgba(74, 222, 222, 0.33);
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
